<h1>Students</h1>

<% if logged_in? %>
   <form action="/performance_tests" method="get" style="display: inline-block;">
      <button><input type="submit" value="Results" /></button>
   </form>
<% end %>

<form action="/students/new" method="get" style="display: inline-block;"> 
    <button><input type="submit" value="New Student"></button>
</form>
<br><br>

<% @students.each do |student|%>
    <a href="/students/<%= student.id %>"><%= student.first_name %> <%= student.last_name %></a><br>
<% end %>
