<h1>New Student</h1>

<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2><%= @student.errors.count %> error(s) prohibited this post from being saved:</h2>
 
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<form action="/students" method="post">
    <p>
        <div><label for="first_name"> First name: </label></div>
        <input type="text" id="first_name" name="student[first_name]">
    </p>
    <p>
        <div><label for="last_name"> Last name: </label></div>
        <input type="text" id="last_name" name="student[last_name]">
    </p>
    <p>
        <div><label for="grad_year"> Graduation Year: </label><div>
        <input type="text" id="grad_year" name="student[grad_year]">
    </p>
    <p>
        <input type="submit" value="Create Student">
    </p>
</form>
