<h1><%= @student.first_name %> <%= @student.last_name %></h1>
<h3>Graduation Year: <%= @student.grad_year%></h3>

<% if logged_in? %>
    <div>
        <a href="/students/<%= @student.id %>/edit"><button>Edit Student</button></a> 
    </div>
<% end %>
