<h1 class="homepage"> Westminster Strength & Conditioning<h1>
<h2 class="homepage"> Home of the Wildcats</h2>

<style>
body  {
  background-image: url("./images/turf.jpg");
  background-size: cover;
  background-color: #115517;
}
</style>
