<body class="homepage">
  <h1> Westminster Strength & Conditioning <h1>
  <h2> Home of the Wildcats </h2>
</body>

<style>
body  {
  background-image: url("./images/turf.jpg");
  background-size: cover;
  background-color: #115517;
}
</style>

